@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.hero {
  font-family: 'Raleway', sans-serif;
  margin-top: 20vh;
  display: flex;

  img {
    width: 100%;
    max-height: 700px;
    margin-top: -5%;
  }
}



@media (max-width: 768px) {
  .heroContent {
    img{
      width: 100%;
      max-height: 100vh;
    }
  }
}

















