@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import '../../styles/variables.scss';

.navbar {
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: "Raleway", sans-serif;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $nav-text-color;
        text-decoration: none;
        padding: 30px;
        font-size: 22px;
        cursor: none;
      }
    }

    .logo {
      margin: 0 15px;
      text-align: center;

      img {
        max-height: 30px;
        height: auto;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}

